textarea {
    resize: none;
}

#chat-connect p {
    display: none;
}

#chat-room {
    display: none;
}

#people {
    overflow: hidden;
}

.list-group {
    margin: 0px;
    padding: 0px;
}

.form-group {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
