textarea {
    resize: none;
}

#chat-connect p, #chat-room, #delete-msgs, #disconnect {
    display: none;
}

#people {
    overflow: hidden;
}

/* To give some space from the alert message */
#chat-connect .form-group, #chat-connect button {
    margin-bottom: 5px;
}

.list-group {
    margin: 0px;
    padding: 0px;
}

.form-group {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#chat-room textarea, #form-message input {
    border-color: #337ab7;
}

#chat-room textarea {
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

#form-message input {
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

#people .list-group-item {
    border-left: 0px;
    border-right: 0px;
}
